@import "../../styles/base/mixins"; 
@import "../../styles/base/colors";

.profile {
  padding-top: 2rem;
  &__form {
    width: 100%;
    .form__content {
      @include Flex($direction: column);
      gap: 2.5rem;
    }
  }
  &__img {
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    img{
      width:25rem;
      height: 25rem;
    }
    .profile__input {
      display: none;
    }
    &:hover > .profile__wallEdit {
      opacity: 1;
    }
  }
  .btn_submit {
    margin-top: 1.5rem;
  }
  &__wallEdit {
    @include Flex($direction: column);
    gap: 1rem;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    transition: 0.3s opacity ease-in-out;
    background-color: rgba($color: #000000, $alpha: 0.5);
  }
  &__fields {
    width: 100%;
  }
  @include Desktop {
    height: 90vh;
    margin-top: 6rem;
    &__img {
      width: 25rem;
      height: 25rem;
      img{
        height:auto;
      }
    }
    &__fields {
      width: 60%;
    }
    .form__content {
      // @include Flex($direction: row);
      gap: 2.5rem;
      // max-height: 50vh;
    }
    .btn_submit {
      @include Flex($direction: row);
      margin-top: 1.5rem;
      width: 100%;
      .btn {
        width: 20rem;
      }
    }
  }
}
