@import "../../styles/base/mixins";
@import "../../styles/base/colors";
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

.menu {
  @include Flex($justify: space-between);
  h1 {
    font-family: "Lobster", sans-serif;
    font-size: 3rem;
  }
  .menu__profile {
    position: relative;
    padding: 0 2rem;
    padding-right: 0;
    .btn__profile {
      @include Flex();
    }
    .profile_img{
      width: 4.2rem;
      height: 4.2rem;
      border-radius: 50%;
    }
    .profile__options {
      background-color: #f9f8f8;
      position: absolute;
      z-index: 100;
      width: 100%;
      padding: 1.5rem 0;
      text-align: center;
      left: 0;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
      border-radius: 1.2rem;

      li {
        padding: 0.5rem 0;
        transition: background 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          background-color: #dbdbdb;
        }
      }
    }
  }

  @include responsive(768px) {
    h1 {
      font-size: 4.5rem;
    }
  }
}

.flashCard__container {
  h3,p {
    text-align: center;
  }
  p{
    margin-top: 1rem;
  }

}

.topics {
  margin-top: 1rem !important;
  cursor: pointer;

  &__settings {
    @include Flex();
  }

  &.active,
  &:hover {
    span {
      color: $blackColor;
      font-weight: 400;
    }
    transition: 0.2s box-shadow ease-in-out;
  }
  span {
    color: $noSelected;
    text-overflow: ellipsis;
  }
  &__container--list {
    width: 100%;
  }
  .topics__submenu{
    border: 1px solid #646464;
  }

  .topics__list--btn:hover {
    .topics__submenu {
      display: block;
    }
  }

  .topics__list--btn:hover {
    .topics__submenu {
      display: block;
    }
  }

  .topics__container--newTopic {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    box-shadow: 0px -1px 1px rgba($color: $blackColor, $alpha: 0.3);

    a {
      display: flex;
      align-items: center;

      span {
        margin-left: 1rem;
        font-size: 1.7rem;
      }
    }
  }

  &__submenu {
    width: 90%;
    position: absolute;
    z-index: 10;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    background-color: #fff;
  }
  .topic__name {
    width: 90%;
    @include Flex($align: center, $justify: flex-start);
    gap: 1rem;
    cursor: pointer;
    input {
      height: 4rem;
      width: auto;
    }
  }
  .topics__btn {
    width: 100%;
    outline: 1px solid $blackColor;
    padding: 1.2rem 2rem;
    padding-bottom: 1rem;
    background-color: #fff;
    @include Flex($justify: space-between);

    span {
      margin-right: 1rem;
    }

    &:hover {
      box-shadow: 3px 3px 5px rgba($color: $blackColor, $alpha: 0.3);
      transition: 0.2s box-shadow ease-in-out;
    }
  }

  &__addTopic {
    @include Flex();
  }

  .arrowIcon {
    transition: transform 0.3s ease-in-out;
    &.rotate__arrow {
      transform: rotate(180deg);
    }
  }

  @include responsive(768px) {
    &__container--list {
      width: auto;
      position: relative;
      display: inline-flex;
      flex-direction: column;
      align-items: stretch;
    }
    .topics__btn {
      width: 30rem;
    }
    &__submenu {
      width: 100%;
    }
  }
}
.flashcards.container{
  margin-top: 2.2rem;
}
.container__flashcards {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba($color: $blackColor, $alpha: 0.1);
  border-radius: 1.2rem;
  .content__flashcards {
    height: 50rem;
    padding: 1rem;
    border: 1px solid rgba($color: $blackColor, $alpha: 0.1);
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 2rem;
    overflow-y: auto;
  }

  .flashcard {
    
    position: relative;
    width: 100%;
    height: 25rem;
    transform-style: preserve-3d;
    transition: transform 1s ease;

    .face {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background-color: $blackColor;
      color: #fff;
    }

    &.rotate {
      transform: rotateY(180deg);
    }

    .anverse {
      z-index: 2;
      border-radius: 1.2rem;
    }

    .overse {
      transform: rotateY(180deg);
    }

    .flashcards__settings {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .inpt_question {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 70%;
      text-align: center;
      padding: 0 2rem;
    }
  }

  @include responsive(768px) {
    .flashcard {
      height: 35rem;
    }
  }

  .flashcards__settings {
    position: relative;

    a {
      padding: 1rem;
      color: #fff;
      font-size: 2rem;
    }

    button {
      padding: 1rem;
      color: #fff;
    }

    .btn__rotate {
      font-size: 2.5rem;
    }

    .settings {
      position: absolute;
      top: 0;
      @include Flex();
    }

    .btn__change {
      left: 0;
      background-color: $paletteColor;
      border-radius: 1.2rem 0 0 0;
    }

    .btn__delete {
      border-radius: 0 1.2rem 0 0;
      right: 0;
      background-color: $deleteColor;
      ion-icon {
        color: #ffff;
      }
    }
  }

  .flashcards__header {
    @include Flex($direction: column);
    padding: 1.5rem;
    .btn_submit {
      order: 1;
      margin-top: 2rem;
      width: 100%;
    }
  }
  @include Desktop {
    .flashcards__header {
      @include Flex($justify: space-between);
      input {
        width: 30%;
      }
      .btn_submit {
        order: -1;
        width: 30%;
      }
      padding: 1.5rem;
    }
  }
}

@include responsive(768px) {
  .content__flashcards {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
  }
}

.definition__flashcard {
  overflow: hidden;
  @include Flex($direction: column);

  img {
    max-height: 50%;
    margin: 2rem 0;
  }

  .definition a:hover {
    color: $principalColorHover;
    transition: 0.4s all ease-in-out;
  }
}

.definition {
  a {
    color: $principalColor;
    font-weight: 600;
  }

  p {
    line-height: 2;
  }

  p,
  h3 {
    margin-bottom: 3rem;
  }

  h3 {
    font-size: calc(1em + 1vw);
  }
}

@include Desktop{
  .definition__flashcard {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    img {
      height: 30rem;
    }
  }
}
