@import "../../styles/base/mixins";

.btn {
  width: 100%;
}
.content__form {
  overflow: hidden;
}
.login,.changePassword {
  &.container__form {
    height:90vh;
    max-width: 90rem
  }
  
  .content__form {
    @include Flex();
    height: auto;
    margin-bottom: 0;
  }
}

.form {
  @include Flex($direction: column, $justify: space-between);
  height: 100%;
  overflow: auto;
  &__together {
    @include Flex($direction: column);
  }
  &__header {
    top: 0;
  }
  &__body {
    overflow: auto;
    height: 100%;
  }
  &__header,
  &__footer {
    width: 100%;
  }
  &__footer {
    padding: 1rem 0;
  }
  .passwordRequirements {
    @include Flex($justify: flex-start);
    gap: 1rem;
    .icono {
      width: 2rem !important;
    }
  }
}
.changePassword{
  h2{
    font-size: 2.5rem;
  }
}
.react-tooltip{
  z-index: 200;
}
@include Desktop {
  .form {
    &__together {
      @include Flex($align: flex-start);
      gap: 3rem;
    }
    &__body {
      overflow: hidden;
    }
  }
}
